:root {
    --warna1: #eeeeee;
    --warna2: white;
    --warna3: black;
    --warna4: #393e46;
    --warna5: #d65a31;
    --warna6: darkgrey;
  }



html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}


html, body {
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  position: relative;
  top: 0;
  height: 4rem;
  justify-content: space-between;
}

header h1 {
  margin: 1rem 0 1rem 1rem;
  display: inline;
  color: var(--warna6);
}

header h1 span {
  color: var(--warna5)
}

header ul {
  display: flex;
  padding: 0.73rem 1rem;
}

header ul li a {
  vertical-align: middle;
  margin: 2rem 1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

header ul a:hover {
  color: var(--warna5);
}

.banner {
  margin-top: 0.5rem;
  width: 100%;
}

.login {
  background-color: var(--warna5);
  padding: 0.75rem;
  border-radius: 1.4rem;
}

.login:hover {
  background-color: var(--warna3);
  color: var(--warna5);
}

.list {
  display: flex;
  position: relative;
  background-color: var(--warna5);
  padding: 4rem;
  justify-content: space-between;
}

.imglist {
  width: 20rem;
  border: 0.1rem solid white;
  border-radius: 1.5rem;
}

.btnlist {
  position: absolute;
  background-color: var(--warna3);
  padding: 1rem;
  color: var(--warna2);
  border: 0.1rem solid #393e46;
  border-radius: 1rem;
  margin-left: -13%;
  margin-top: 20.5%;
  cursor: pointer;
}

.btnlist:hover {
  background-color: var(--warna6);
  border-color: var(--warna6);
  color: var(--warna3);
  font-weight: bold;
}

.imgtesti {
  width: 25%;
  border: 0.35rem double;
  border-radius: 0.25rem;
}

.testi {
  background-color: var(--warna6);
  margin-top: 0.25rem;
  padding: 5rem 9rem 5rem 9rem;
}

.testi p {
  line-height: 200%;
}

#testi1 {
  float: right;
  margin-left: 5rem;
}

#testi2 {
  float: left;
  margin-right: 5rem;
}

#testi3 {
  float: left;
  margin-right: 3rem;
  width: 40%;
  border: #d65a31 solid 0.2rem;
  border-radius: 2.5rem;
}

.dropdown {
  position: relative;
}

.dropdowncontent {
  top: 1.5rem;
  left: 0;
  position: absolute;
  display: none;
  padding: 1rem;
  background-color: var(--warna6);
}

.dropdowncontent:hover {
  display: block;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

.testi1 {
  margin: 0.5rem 10rem 0.5rem 10rem;
  padding: 5rem;
  background-color: var(--warna4);
  border-radius: 1.5rem;
  color: var(--warna2);
}

.testi1 h2 {
  text-decoration: underline;
}

.testi1 span {
  color: var(--warna5);
}

footer {
  background-color: var(--warna4);
  color: #fff;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  margin: auto;
}

@media (max-width:1024px){
  footer div {
    flex-direction: column;
    align-items: flex-start;
  }
}

footer ul {
  list-style-type: none;
  padding: initial;
  margin: initial;
}

footer h4 {
  color: var(--warna5);
}

footer a {
  text-decoration: none;
  color: var(--warna2);
}

footer a:hover {
  color: var(--warna5);
}

footer p.kopi {
  width: 89%;
  text-align: center;
  color: var(--warna6);
  margin: 2rem 0 0 0;
}

@media (max-width:600px) {
  html {
    width: 100%;
  }

  header {
    height: 3rem;
  }

  header h1 {
    margin:0;
    font-size: 13px;
  }

  header ul li a {
    font-size: 5px;
    margin: 0.5rem;
  }
}

.detail-title {
  margin-left: 1rem;
}

.oren {
  color: var(--warna5);
}

.bagian-detail {
  margin-bottom: 2rem;
  display: flex;
  align-items: stretch;
  max-width: 79vw;
  margin: auto;
  justify-content: space-between;
}

@media (max-width:1024px) {
  .bagian-detail {
    flex-direction: column;
  }
}

.isi-bagian-detail {
  width: 49%;
  position: relative;
}

.isi-bagian-detail img {
  display: block;
  width: 100%;
}

@media (max-width:1024px) {
  .bagian-detail {
    max-width: 100vw;
  }
  .teks {
    max-width: 79vw;
    margin: auto;
  }
  .isi-bagian-detail {
    width: 100%;
  }
}

.size p {
  margin-left: 2.5rem;
}

.buybuybuy {
  display: block;
  background-color: var(--warna3);
  color: var(--warna5);
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  text-decoration: none;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.buybuybuyeh {
  display: inline-block;
  background-color: var(--warna3);
  color: var(--warna5);
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1.5rem;
}

.buybuybuy:hover {
  background-color: var(--warna5);
  color: var(--warna3);
}

.buybuybuyeh:hover {
  background-color: var(--warna5);
  color: var(--warna3);
}

@media (max-width:1280px){
  .buybuybuy {
    position: relative;
    max-width: 100%;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
}

.bagian-related {
  padding-top: 2rem;
}

.grid-related {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 5rem 2rem;
}

.grid-sale {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.isi-grid-sale {
  margin: 0 5rem 2rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.isi-modal img {
  width: 30vw;
  margin-right: 2rem;
}

.footer-modal {
  background-color: #fff;
  padding: 1.5rem 1rem;
  position: sticky;
  bottom: 0;
  left: 0;
  display: block;
  text-align: right;
}

.footer-modal span {
  margin-right: 1rem;
}

.no {
  display: none;
}

.yes {
  display: block;
}

.col {
  display: block !important;
}

select {
  cursor: pointer;
}

option {
  cursor: pointer !important;
}

.flex {
  display: flex;
}

.delet {
  padding: 1rem;
  color: #fefefe;
  background-color: #000;
  cursor: pointer;
}

.delet:hover {
  background-color: #393e46;
  color: red;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  position: relative;
  overflow-y: scroll;
  height: 70vh;
  position: relative;
}

/* The Close Button */
.exit-button {
  color: #aaaaaa;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 28px;
  font-weight: bold;
}

.exit-button:hover,
.exit-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.plus-minus {
  margin: 1rem 0;
  user-select: none;
}

.plus-minus a {
  cursor: pointer;
  color: #fefefe;
  font-weight: bold;
  background-color: #393e46;
}

.plus-minus a#qtyAdd {
  padding: 0.25rem 0.5rem;
}

.plus-minus a#qtySub {
  padding: 0.25rem 0.6rem;
}

.plus-minus a:hover {
  background-color: #000;
}
.plus-minus a:active {
  background-color: #393e46;
}

.plus-minus input {
  height: 1.3rem;
  width: 2.5rem;
}

@media (max-width:1024px){
  .grid-related {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}

.item-related {
  text-align: center;
  margin: 0 1rem 5rem;
}

.item-related img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0.5rem;
}

.item-related a {
  background-color: var(--warna3);
  color: var(--warna5);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  text-decoration: none;
}



.teks input {
  display: inline;
}

@media (max-width:1024px) {
  .item-related {
    margin: 0.5rem 0.5rem 2rem;
  }

  .item-related a {
    display: block;
    padding: 1rem;
  }
}